* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  
  .wrapper {
    max-width: 1050px;
    margin: 0 auto;
  }
body:has(#menu-toggle:checked) {
    .show {
        display:flex;
    }
}
.bg-custom-gradient {
    background-image: linear-gradient(to bottom, transparent 15%, rgba(56, 56, 56,.84) 100%);
}
